MLB 주루 포지션 분석
  * 주요 용어 분석

    - hp_to_1b :  홈 플레이트에서 1루까지 속도

    - sprint_speed : 선수의 스프린트 속도

    - total_stolen_base : 도루 성공 횟수 

    - total_caught_stealing : 도루 실패 횟수 
    
    - ab_scoring : 득점으로 이어진 타석 

    - run : 득점 수

In [128]:
# 모듈 로딩
import pandas as pd 
import numpy as np

In [129]:
# 파일 로딩
file = 'baseball.csv'
mlb = pd.read_csv(file)
mlb

,"last_name, first_name",player_id,year,player_age,r_total_caught_stealing,r_total_stolen_base,b_ab_scoring,r_run,hp_to_1b,sprint_speed
0,"Cabrera, Miguel",408234,2021,38,0,0,118,48,5.01,24.0
1,"Cruz Jr., Nelson",443558,2021,40,0,3,117,79,4.69,26.0
2,"Peralta, David",444482,2021,33,1,2,131,57,4.38,27.6
3,"Blackmon, Charlie",453568,2021,34,0,3,139,76,4.34,27.6
4,"McCutchen, Andrew",457705,2021,34,1,6,107,78,4.37,28.7
...,...,...,...,...,...,...,...,...,...,...
532,"Winn, Masyn",691026,2024,22,3,9,77,42,4.22,28.8
533,"Chourio, Jackson",694192,2024,20,3,10,70,41,4.22,29.7
534,"Schanuel, Nolan",694384,2024,22,0,4,62,32,4.46,26.3
535,"Young, Jacob",696285,2024,24,5,20,56,47,4.19,29.7
536,"Merrill, Jackson",701538,2024,21,2,10,85,40,4.24,28.4

In [130]:
# mlb 데이터 확인
mlb.head()

,"last_name, first_name",player_id,year,player_age,r_total_caught_stealing,r_total_stolen_base,b_ab_scoring,r_run,hp_to_1b,sprint_speed
0,"Cabrera, Miguel",408234,2021,38,0,0,118,48,5.01,24.0
1,"Cruz Jr., Nelson",443558,2021,40,0,3,117,79,4.69,26.0
2,"Peralta, David",444482,2021,33,1,2,131,57,4.38,27.6
3,"Blackmon, Charlie",453568,2021,34,0,3,139,76,4.34,27.6
4,"McCutchen, Andrew",457705,2021,34,1,6,107,78,4.37,28.7

In [131]:
# 파일 정보 
mlb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   last_name, first_name    537 non-null    object
 1   player_id                537 non-null    int64
 2   year                     537 non-null    int64
 3   player_age               537 non-null    int64
 4   r_total_caught_stealing  537 non-null    int64
 5   r_total_stolen_base      537 non-null    int64
 6   b_ab_scoring             537 non-null    int64
 7   r_run                    537 non-null    int64
 8   hp_to_1b                 537 non-null    float64
 9   sprint_speed             537 non-null    float64
dtypes: float64(2), int64(7), object(1)
memory usage: 42.1+ KB

In [132]:
# 컬럼 이름 변경
# r_total_stolen_base --> total_stolen_base로 바꿔주기 
# r_total_caught_stealing --> total_caught_stealing로 바꿔주기
# b_ab_scoring ---> ab_scoring으로 바꿔주기
# r_run --> run으로 바꿔주기 
mlb.rename({'r_total_stolen_base' : 'total_stolen_base', 'r_total_caught_stealing':'total_caught_stealing','b_ab_scoring':'ab_scoring','r_run':'run'}, axis= 1, inplace=True)
mlb

,"last_name, first_name",player_id,year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
0,"Cabrera, Miguel",408234,2021,38,0,0,118,48,5.01,24.0
1,"Cruz Jr., Nelson",443558,2021,40,0,3,117,79,4.69,26.0
2,"Peralta, David",444482,2021,33,1,2,131,57,4.38,27.6
3,"Blackmon, Charlie",453568,2021,34,0,3,139,76,4.34,27.6
4,"McCutchen, Andrew",457705,2021,34,1,6,107,78,4.37,28.7
...,...,...,...,...,...,...,...,...,...,...
532,"Winn, Masyn",691026,2024,22,3,9,77,42,4.22,28.8
533,"Chourio, Jackson",694192,2024,20,3,10,70,41,4.22,29.7
534,"Schanuel, Nolan",694384,2024,22,0,4,62,32,4.46,26.3
535,"Young, Jacob",696285,2024,24,5,20,56,47,4.19,29.7
536,"Merrill, Jackson",701538,2024,21,2,10,85,40,4.24,28.4

In [133]:
# player_id 제거
mlb.drop(columns='player_id', inplace=True)
mlb

,"last_name, first_name",year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
0,"Cabrera, Miguel",2021,38,0,0,118,48,5.01,24.0
1,"Cruz Jr., Nelson",2021,40,0,3,117,79,4.69,26.0
2,"Peralta, David",2021,33,1,2,131,57,4.38,27.6
3,"Blackmon, Charlie",2021,34,0,3,139,76,4.34,27.6
4,"McCutchen, Andrew",2021,34,1,6,107,78,4.37,28.7
...,...,...,...,...,...,...,...,...,...
532,"Winn, Masyn",2024,22,3,9,77,42,4.22,28.8
533,"Chourio, Jackson",2024,20,3,10,70,41,4.22,29.7
534,"Schanuel, Nolan",2024,22,0,4,62,32,4.46,26.3
535,"Young, Jacob",2024,24,5,20,56,47,4.19,29.7
536,"Merrill, Jackson",2024,21,2,10,85,40,4.24,28.4

In [134]:
# 데이터 정규화 
# mlb['total_caught_stealing'] = MinMaxScaler(mlb['total_caught_stealing'])
# mlb['total_stolen_base'] = MinMaxScaler(mlb['total_stolen_base'])
# mlb['ab_scoring'] = MinMaxScaler(mlb['ab_scoring'])
# mlb['run'] = MinMaxScaler(mlb['run'])
# mlb['hp_to_1b'] = MinMaxScaler(mlb['hp_to_1b'])
# mlb['sprint_speed'] = MinMaxScaler(mlb['sprint_speed'])

In [135]:
# 상관관계 
mlb.corr(numeric_only=True)

,year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
year,1.000000,-0.095694,-0.069096,-0.027977,-0.534825,-0.538647,0.029426,0.001995
player_age,-0.095694,1.000000,-0.301409,-0.265086,0.054591,-0.054101,0.410491,-0.406871
total_caught_stealing,-0.069096,-0.301409,1.000000,0.689620,0.037975,0.210534,-0.540553,0.532401
total_stolen_base,-0.027977,-0.265086,0.689620,1.000000,0.069252,0.335210,-0.602604,0.616531
ab_scoring,-0.534825,0.054591,0.037975,0.069252,1.000000,0.633016,0.054291,-0.035617
run,-0.538647,-0.054101,0.210534,0.335210,0.633016,1.000000,-0.179101,0.162452
hp_to_1b,0.029426,0.410491,-0.540553,-0.602604,0.054291,-0.179101,1.000000,-0.873039
sprint_speed,0.001995,-0.406871,0.532401,0.616531,-0.035617,0.162452,-0.873039,1.000000

In [136]:
# 년도별로 데이터 나누기 - 최근 4년 데이터들 (2021 ~ 2024)
mlb_2021 = mlb[mlb['year'] == 2021].reset_index(drop=True).copy()
mlb_2022 = mlb[mlb['year'] == 2022].reset_index(drop=True).copy()
mlb_2023 = mlb[mlb['year'] == 2023].reset_index(drop=True).copy()
mlb_2024 = mlb[mlb['year'] == 2024].reset_index(drop=True).copy()

In [137]:
# 2021년 MLB 데이터 확인
display(mlb_2021.corr(numeric_only=True))
display(mlb_2022.corr(numeric_only=True))
display(mlb_2023.corr(numeric_only=True))
mlb_2024.corr(numeric_only=True)

,year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
player_age,NaN,1.000000,-0.329985,-0.223886,-0.005029,-0.254165,0.447592,-0.448575
total_caught_stealing,NaN,-0.329985,1.000000,0.628768,-0.332400,0.054793,-0.595763,0.513037
total_stolen_base,NaN,-0.223886,0.628768,1.000000,-0.231058,0.290411,-0.619234,0.592324
ab_scoring,NaN,-0.005029,-0.332400,-0.231058,1.000000,0.191125,0.176554,-0.143615
run,NaN,-0.254165,0.054793,0.290411,0.191125,1.000000,-0.263266,0.255313
hp_to_1b,NaN,0.447592,-0.595763,-0.619234,0.176554,-0.263266,1.000000,-0.877525
sprint_speed,NaN,-0.448575,0.513037,0.592324,-0.143615,0.255313,-0.877525,1.000000

,year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
player_age,NaN,1.000000,-0.255770,-0.227547,-0.046383,-0.127614,0.317923,-0.289429
total_caught_stealing,NaN,-0.255770,1.000000,0.720023,0.052109,0.194230,-0.529303,0.521883
total_stolen_base,NaN,-0.227547,0.720023,1.000000,0.015034,0.253273,-0.618936,0.647325
ab_scoring,NaN,-0.046383,0.052109,0.015034,1.000000,0.276010,-0.015981,0.060776
run,NaN,-0.127614,0.194230,0.253273,0.276010,1.000000,-0.183174,0.188044
hp_to_1b,NaN,0.317923,-0.529303,-0.618936,-0.015981,-0.183174,1.000000,-0.884107
sprint_speed,NaN,-0.289429,0.521883,0.647325,0.060776,0.188044,-0.884107,1.000000

,year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
player_age,NaN,1.000000,-0.322381,-0.307111,0.057016,-0.071564,0.382844,-0.382458
total_caught_stealing,NaN,-0.322381,1.000000,0.725832,-0.066676,0.242125,-0.543515,0.572730
total_stolen_base,NaN,-0.307111,0.725832,1.000000,-0.043546,0.429117,-0.631532,0.647271
ab_scoring,NaN,0.057016,-0.066676,-0.043546,1.000000,0.283536,0.130446,-0.078362
run,NaN,-0.071564,0.242125,0.429117,0.283536,1.000000,-0.232330,0.198128
hp_to_1b,NaN,0.382844,-0.543515,-0.631532,0.130446,-0.232330,1.000000,-0.879545
sprint_speed,NaN,-0.382458,0.572730,0.647271,-0.078362,0.198128,-0.879545,1.000000

,year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
player_age,NaN,1.000000,-0.347578,-0.340400,0.132259,-0.047031,0.509478,-0.506541
total_caught_stealing,NaN,-0.347578,1.000000,0.655725,0.007549,0.245323,-0.527316,0.545205
total_stolen_base,NaN,-0.340400,0.655725,1.000000,0.026261,0.377720,-0.637847,0.662183
ab_scoring,NaN,0.132259,0.007549,0.026261,1.000000,0.245010,0.090019,-0.098004
run,NaN,-0.047031,0.245323,0.377720,0.245010,1.000000,-0.284573,0.269146
hp_to_1b,NaN,0.509478,-0.527316,-0.637847,0.090019,-0.284573,1.000000,-0.854581
sprint_speed,NaN,-0.506541,0.545205,0.662183,-0.098004,0.269146,-0.854581,1.000000

In [138]:
mlb_2021_sb = mlb_2021[mlb_2021['total_stolen_base']>=10].reset_index(drop=True)
mlb_2021_sb.sort_values(by=['total_stolen_base'],ascending=False).head()

,"last_name, first_name",year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
4,"Marte, Starling",2021,32,5,47,104,89,4.22,28.5
15,"Merrifield, Whit",2021,32,4,40,141,97,4.32,28.6
23,"Turner, Trea",2021,28,5,32,108,107,4.13,30.6
45,"Edman, Tommy",2021,26,5,30,112,91,4.22,28.9
39,"Straw, Myles",2021,26,6,30,132,86,4.12,29.3

In [139]:
mlb_2022_sb = mlb_2022[mlb_2022['total_stolen_base']>=10].reset_index(drop=True)
mlb_2022_sb.sort_values(by=['total_stolen_base'],ascending=False ,ignore_index=True).head()

,"last_name, first_name",year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
0,"Mateo, Jorge",2022,27,9,35,117,63,4.20,30.1
1,"Mullins II, Cedric",2022,27,10,34,134,89,4.16,28.5
2,"Edman, Tommy",2022,27,3,32,108,95,4.25,28.7
3,"Arozarena, Randy",2022,27,12,32,169,72,4.27,28.8
4,"Witt Jr., Bobby",2022,22,7,30,127,82,4.13,30.3

In [140]:
mlb_2023_sb = mlb_2023[mlb_2023['total_stolen_base']>=10].reset_index(drop=True)
mlb_2023_sb.sort_values(by=['total_stolen_base'],ascending=False,ignore_index=True).head()

,"last_name, first_name",year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
0,"Acuña Jr., Ronald",2023,25,14,73,124,149,4.35,28.0
1,"Carroll, Corbin",2023,22,5,54,118,116,4.08,30.1
2,"Witt Jr., Bobby",2023,23,15,49,138,97,4.12,30.5
3,"Abrams, CJ",2023,22,4,47,139,83,4.22,28.6
4,"Hoerner, Nico",2023,26,7,43,139,98,4.31,28.5

In [141]:
mlb_2024_sb = mlb_2024[mlb_2024['total_stolen_base']>=10].reset_index(drop=True)
mlb_2024_sb.sort_values(by=['total_stolen_base'],ascending=False,ignore_index=True).head()

,"last_name, first_name",year,player_age,total_caught_stealing,total_stolen_base,ab_scoring,run,hp_to_1b,sprint_speed
0,"De La Cruz, Elly",2024,22,9,46,72,64,4.22,30.1
1,"Turang, Brice",2024,24,5,30,90,45,4.20,29.4
2,"Ohtani, Shohei",2024,29,3,23,90,75,4.14,28.0
3,"Thomas, Lane",2024,28,9,23,76,37,4.38,29.2
4,"Witt Jr., Bobby",2024,24,9,22,85,75,4.11,30.4